<script>
   
    var items =  [
        {
            link: "#",
            label: "marcas<span>.</span>",
            className: "width117",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "ômegas <span>&#38;</span> funcionais",
            className: "width139",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "vitaminas <span>&#38;</span> minerais",
            className: "width149",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "propolis, mel <span>&#38;</span> derivados",
            className: "width175",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "super alimentos <span>&#38;</span> digestão",
            className: "width198",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "plantas medicenais <span>&#38;</span> chás",
            className: "width222",
            // banner: `<vtex:menuBanner/>`,
        },
        {
            link: "#",
            label: "alimentos <span>&#38;</span> bebidas",
            className: "width144",
            // banner: `<vtex:menuBanner/>`,
        },
    ];
        
</script>
<div id="root-header"></div>