<div id="root-footer"></div>
<div style="display:none;">
    <vtex.cmc:welcomeMessage />
</div>
<noscript id="header-banners">
    <div class="banner">
        <vtex:primeirobanner />
    </div>
    <div class="banner">
        <vtex:segundobanner />
    </div>
    <div class="banner">
        <vtex:terceirobanner />
    </div>
    <div class="banner">
        <vtex:quartobanner />
    </div>
    <div class="banner">
        <vtex:quintobanner />
    </div>
    <div class="banner">
        <vtex:sextobanner />
    </div>
</noscript>
<!-- <script src="/arquivos/bundle.projetoverao.store.v1.common.js"  type="text/javascript" rel="preload" as="script"></script>  
<script src="/arquivos/bundle.projetoverao.store.v1.website.js" type="text/javascript" rel="preload" as="script"></script> -->
<script src="http://localhost:3001/arquivos/bundle.website.js" type="text/javascript" rel="preload" as="script"></script>