<div id="root-footer"></div>
<div style="display:none;">
    <vtex.cmc:welcomeMessage />
</div>
<noscript id="header-banners">
    <div class="banner">
        <vtex:primeirobanner />
    </div>
    <div class="banner">
        <vtex:segundobanner />
    </div>
    <div class="banner">
        <vtex:terceirobanner />
    </div>
    <div class="banner">
        <vtex:quartobanner />
    </div>
    <div class="banner">
        <vtex:quintobanner />
    </div>
    <div class="banner">
        <vtex:sextobanner />
    </div>
</noscript>
<noscript id="promotion-banners">
    <div class="banner">
        <vtex:promotionbanner />
    </div>
</noscript>
<noscript id="active-promotion-banners">
    <div class="banner">
        <vtex:promotionbanner />
    </div>
    <div class="banner">
        <vtex:activepromotionbanner />
    </div>
</noscript>

<noscript id="header-banners-navigation">
    <div class="banner">
        <vtex:navigationprimeirobanner />
    </div>
    <div class="banner">
        <vtex:navigationsegundobanner />
    </div>
    <div class="banner">
        <vtex:navigationterceirobanner />
    </div>
    <div class="banner">
        <vtex:navigationquartobanner />
    </div>
    <div class="banner">
        <vtex:navigationquintobanner />
    </div>
    <div class="banner">
        <vtex:navigationsextobanner />
    </div>
    <div class="banner">
        <vtex:navigationsetimobanner />
    </div>
    <div class="banner">
        <vtex:navigationoitavobanner />
    </div>
    <div class="banner">
        <vtex:navigationonobanner />
    </div>
    <div class="banner">
        <vtex:navigationdecimobanner />
    </div>
    <div class="banner">
        <vtex:navigationdecimoprimeirobanner />
    </div>
    <div class="banner">
        <vtex:navigationdecimosegundobanner />
    </div>
</noscript>
<script src="/arquivos/bundle.projetoverao.store.v9.common.js"  type="text/javascript" rel="preload" as="script"></script>  
<script src="/arquivos/bundle.projetoverao.store.v9.website.js" type="text/javascript" rel="preload" as="script"></script>
<!-- <script src="http://localhost:3001/arquivos/bundle.website.js" type="text/javascript" rel="preload" as="script"></script> -->
