<script>
    var items = [
        {
            link: "#",
            label: "ômegas <span>&#38;</span> funcionais",
            className: "width139",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
        {
            link: "#",
            label: "vitaminas <span>&#38;</span> minerais",
            className: "width149",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
        {
            link: "#",
            label: "propolis, mel <span>&#38;</span> derivados",
            className: "width175",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
        {
            link: "#",
            label: "super alimentos <span>&#38;</span> digestão",
            className: "width198",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
        {
            link: "#",
            label: "plantas medicenais <span>&#38;</span> chás",
            className: "width222",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
        {
            link: "#",
            label: "alimentos <span>&#38;</span> bebidas",
            className: "width144",
            subitems: [
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "fisioterapeuticos",
                    subitems: [
                        {
                            link: "#",
                            label: "ginkgo biloba"
                        },
                        {
                            link: "#",
                            label: "alho"
                        },
                        {
                            link: "#",
                            label: "cogumelos"
                        },
                        {
                            link: "#",
                            label: "arnica"
                        },
                        {
                            link: "#",
                            label: "saw palmetto"
                        },
                        {
                            link: "#",
                            label: "centella asiática"
                        },
                        {
                            link: "#",
                            label: "ginseng"
                        },
                        {
                            link: "#",
                            label: "boldo"
                        },
                        {
                            link: "#",
                            label: "fucus"
                        },
                        {
                            link: "#",
                            label: "digestivos"
                        },
                        {
                            link: "#",
                            label: "circulatório"
                        },
                        {
                            link: "#",
                            label: "antinflamatório"
                        },
                        {
                            link: "#",
                            label: "calmante"
                        },
                        {
                            link: "#",
                            label: "menopausa"
                        },
                        {
                            link: "#",
                            label: "xaropes"
                        }
                    ],
                },
                {
                    link: "#",
                    label: "chás",
                    subitems: [
                        {
                            link: "#",
                            label: "chá de ginseng"
                        },
                        {
                            link: "#",
                            label: "chá oolong"
                        },
                        {
                            link: "#",
                            label: "chá jasmim"
                        },
                        {
                            link: "#",
                            label: "chá verde"
                        },
                        {
                            link: "#",
                            label: "chá hibisco"
                        },
                        {
                            link: "#",
                            label: "chá branco"
                        },
                        {
                            link: "#",
                            label: "outros chás"
                        }
                    ],
                }
            ]
        },
    ];

    var letreiro = [
        {
            message: "chlorella<span class='dot'>.</span> <span class='percentage'>25% off</span>",
           
        },
        {
            message: "chlorella 2<span class='dot'>.</span> <span class='percentage'>25% off</span>"
           
        },
        {
            message: "chlorella 3<span class='dot'>.</span> <span class='percentage'>25% off</span>"
            
        },

        {
            message: "chlorella 4<span class='dot'>.</span> <span class='percentage'>25% off</span>"
           
        },
        {
            message: "chlorella 5<span class='dot'>.</span> <span class='percentage'>25% off</span>"
           
        }
    ]
</script>
<div id="root-load-bar"></div>
<div id="root-header"></div>
<div id="root-back-to-top"></div>