<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-br">

<head>
    <vtex:metaTags />
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->

    <main>
        <div class="wrapper">
            <div id="root-profile"></div>
            <div id="root-navigation-tabs"></div>
            <div id="root-form"></div>
            <div class="account-user-profile">
                <vtex.cmc:accountUserProfile />
            </div>
            <div class="account-address">
                <vtex.cmc:accountAddress />
            </div>
        </div>
    </main>

    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>