<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-br">

<head>
    <vtex:metaTags />
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->

    <main>
        <!--init breadcrumb-->
        <!-- <div id="breadcrumb-ref" style="display:none">
           <vtex.cmc:breadCrumb />
        </div> -->
        <!--fim breadcrumb-->        
       
        <!-- init filters reference -->
        <div class="filter-ref" style="display:none">
            <vtex.cmc:singleDepartmentNavigator />
            <vtex.cmc:advancedSearchFilter />
            <vtex.cmc:searchNavigator />
            <vtex.cmc:searchResult layout="12f5e463-a908-4274-8dda-6c585ee00af0" itemCount="9" columnCount="3"
                showUnavailable="true" />
        </div>
        <!-- end filters reference -->
    </main>

    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>