<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags />
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->

    <main>

        <section id="root-empty-search">
            <div class="wrapper">
                <!-- <div id="breadcrumb">
                    <vtex.cmc:breadCrumb />
                </div> -->
                <div class="left">
                    <h1 class="title">woooopssss!!!</h1>
                    <h2 class="subtitle">infelizmente não encontramos
                        </br>o item procurado.</h2>

                    <div class="suggest">
                        <p class="title-right-search">a busca está certa?</p>
                        <ul>
                            <li>se sim, experimente encontrar <span class="featured">aqui</span></li>
                            <li>o que procurou pela nossa seção por objetivos.</li>
                        </ul>
                    </div>

                    <div class="suggest">
                        <p class="title-right-search">ou siga a dica:</p>
                        <ul>
                            <li>- busque por algo menos especifico;</li>
                            <li>- tente algo parecido ou similar com o que procurou.</li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <img src="/arquivos/empty-search-banner.png" alt="empty search" />
                </div>
            </div>
        </section>

        <div id="root-shelf">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="Prateleira" />
            </noscript>
        </div>

    </main>

    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>