
<vtex.cmc:reguainformativa />

<section id="root-sale">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="produtos em ofertas" />
    </noscript>
</section>

<section id="root-top-rating">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="top avaliados" />
    </noscript>
</section>

<section id="root-catalog-navigation">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="navegacao por catalogo" />
    </noscript>
</section>

<section id="root-launch">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="lancamentos" />
    </noscript>
</section>

<section id="root-mosaic">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="banners mosaico" />
    </noscript>
</section>

<section id="root-store-point">
    <noscript class="placeholder">
        <vtex:contentPlaceHolder id="local da loja" />
    </noscript>
</section>

<section id="root-newsletter"></section>

<vtex:contentPlaceHolder id="texto de apoio" />