<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-br">

<head>
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->

    <main>
        <section id="root-banner">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner principal" />
            </noscript>
        </section>

        <vtex.cmc:reguainformativa />

        <section id="root-sale">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="produtos em ofertas" />
            </noscript>
        </section>

        <section id="root-top-rating">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="top avaliados" />
            </noscript>
        </section>

        <section id="root-catalog-navigation">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="navegacao por catalogo" />
            </noscript>
        </section>

        <section id="root-launch">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="lancamentos" />
            </noscript>
        </section>

        <section id="root-mosaic">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banners mosaico" />
            </noscript>
        </section>

        <section id="root-store-point">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="local da loja" />
            </noscript>
        </section>
    </main>
    
    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>