<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags />
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->

    <main>

        <!-- banners full principal -->
        <section id="root-banner-main">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner principal" />
            </noscript>
        </section>

        <!-- banners duplo 01-->
        <section id="root-banner-double-01">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 01" />
            </noscript>
        </section>

        <!-- banners duplo 02-->
        <section id="root-banner-double-02">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 02" />
            </noscript>
        </section>

        <!-- banners duplo 03-->
        <section id="root-banner-double-03">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 03" />
            </noscript>
        </section>

        <!-- banners duplo 04-->
        <section id="root-banner-double-04">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 04" />
            </noscript>
        </section>

        <!-- banners full middle -->
        <section id="root-banner-middle">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner middle" />
            </noscript>
        </section>

        <!-- banners duplo 05-->
        <section id="root-banner-double-05">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 05" />
            </noscript>
        </section>

        <!-- banners duplo 06-->
        <section id="root-banner-double-06">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 06" />
            </noscript>
        </section>

        <!-- banners duplo 07-->
        <section id="root-banner-double-07">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 07" />
            </noscript>
        </section>

        <!-- banners duplo 08-->
        <section id="root-banner-double-08">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 08" />
            </noscript>
        </section>

        <!-- banners duplo 09-->
        <section id="root-banner-double-09">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 09" />
            </noscript>
        </section>

        <!-- banners duplo 10-->
        <section id="root-banner-double-10">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 10" />
            </noscript>
        </section>

        <!-- banners duplo 11-->
        <section id="root-banner-double-11">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 11" />
            </noscript>
        </section>

        <!-- banners duplo 12-->
        <section id="root-banner-double-12">
            <noscript class="placeholder">
                <vtex:contentPlaceHolder id="banner duplo 12" />
            </noscript>
        </section>
    </main>

    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>