<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="pt-br">

<head>
    <vtex:metaTags />
    <vtex:template id="2018-v1-head-tags" />
</head>

<body>
    <!-- header -->
    <vtex:template id="2018-v1-header" />
    <!-- end header -->


    <main>
        <div id="root-product"></div>
        <div id="root-product-bar"></div>
        <section id="root-sobre-marca">
            <vtex:contentPlaceHolder id="Sobre a marca" />
        </section>
        <div id="root-product-catalog"></div>
        <noscript id="product-controls">
            <h1 id="product-reference">
                <vtex.cmc:productReference />
            </h1>
            <div id="slider-image-product">
                <vtex.cmc:productImage />
            </div>
            <div id="product-name">
                <vtex.cmc:productName />
            </div>
            <div id="sku-selector">
                <vtex.cmc:skuSelection />
            </div>
            <div id="sku-price">
                <vtex.cmc:skuPrice />
            </div>
            <div id="sku-rich-selection">
                <vtex.cmc:skuRichSelection changeImage="1" />
            </div>
            <div id="button-buy">
                <vtex.cmc:BuyButton />
            </div>
            <div id="descricao">
                <vtex.cmc:ProductDescription />
            </div>
        </noscript>
    </main>

    <div id="root-information-text"></div>

    <vtex:contentPlaceHolder id="texto de apoio" />
    <!-- footer -->
    <vtex:template id="2018-v1-footer" />
    <!-- end footer -->
</body>

</html>